body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
    background : linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
}
a {
    color: white;
    font-size: 12px;


}
a:hover{
    color: #7F7FD5;
}

.introduce{
    margin: 4% 15% 4% 15%;
}
.name{
    color: #7F7FD5;

}
img{
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;   
}
.year{
    font-size: 13px;
    color: gray;
}
.certificated{
    font-size: 15px;
    color: #7F7FD5;
}
.grid_list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.title{
    background-color: #7F7FD5;
    color: white;
}
.con{
    margin-left: 10px;
}
.projects{
    display: flex;
    margin: 20px;
}
.project_image{
    border-radius: 100%;
}
.project_title{
    margin-left: 30px;
}